appdirs==1.4.4
arrow==1.3.0
attrs==23.1.0
Babel==2.13.0
bs4==0.0.1
certifi==2023.7.22
cldfbench==1.14.0
-e git+https://github.com/linguistlist/LL-map@daa33de980ee69944195b0cca7fdb7c856944c0b#egg=cldfbench_llmap
-e git+https://github.com/linguistlist/multitree@8c2695f4c7c8a59da7ded90c2af6049cd4bb36bf#egg=cldfbench_multitree
cldfcatalog==1.5.1
cldfviz==1.0.0
cldfzenodo==1.1.0
clldutils==3.20.0
colorama==0.4.6
colorlog==6.7.0
commonnexus==1.7.0
csvw==3.1.3
cycler==0.12.0
exceptiongroup==1.1.3
gitdb==4.0.10
greenlet==3.0.0
html5lib==1.1
idna==3.4
iniconfig==2.0.0
isodate==0.6.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.19.1
kiwisolver==1.4.5
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
multipledispatch==1.0.0
nameparser==1.1.3
newick==1.9.0
numpy==1.26.0
openpyxl==3.1.2
packaging==23.2
pluggy==1.3.0
purl==1.6
pybtex==0.24.0
pycldf==1.35.0
pycountry==22.3.5
pyglottolog==3.12.0
pylatexenc==2.10
pyparsing==3.1.1
pytest==7.4.2
python-dateutil==2.8.2
python-frontmatter==1.0.0
rdflib==7.0.0
referencing==0.30.2
reportlab==4.0.5
requests==2.31.0
rfc3986==1.5.0
six==1.16.0
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==1.4.49
tabulate==0.9.0
termcolor==2.3.0
toyplot==1.0.3
toytree==2.0.1
tqdm==4.66.1
Unidecode==1.3.7
uritemplate==4.1.1
urllib3==2.0.6
webencodings==0.5.1
xlrd==2.0.1
zenodoclient==0.5.1